.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button_container {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: space-evenly;
}