.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
    .container {
        display: none !important;
    }
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    text-align: left;
}

.map_icon {
    color: black;
}