.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 1em;
  background: #131921;
  gap: 0.5em;
}

@media screen and (max-width: 500px) {
  .min_width_500 {
    display: none !important;
  }

  .container {
    grid-template-columns: auto;
  }
}
