/* .container {
    /* display: flex;
    flex-direction: row; */
    /* gap: 1em; */
    /* margin: 20px;
    padding: 10px; */

.product_container {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    .product_container {
        flex-direction: column;
    }
}

.image {
    max-height: 100%;
    width: auto;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    width: 100%;
}

.title {
    font-size: 3em;
}

.review_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}

.ratings_link:hover {
    text-decoration: underline;
}

.divider {
    height: 1px;
}
