.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 20px;
    padding: 10px;
}

.body {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr 5fr;
    gap: 0.4em
}