.container_compact {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.container_wide {
    display: grid;
    gap: 1em;
}

@media screen and (max-width: 1550px) {
    .container_compact {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1350px) {
    .container_compact {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1050px) {
    .container_compact {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 350px) {
    .container_compact {
        grid-template-columns: repeat(1, 1fr);
    }
}