.container {
    display: flex;
    flex-direction: column;
}

.review_star_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 0.2em;
}

.review_star_wraper {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.review_star_selected {
    text-decoration: underline;
}